<h1>Celebrities List</h1>

{{#each celebrities}}
    <ul>
        <li>
            <div class="celebText">
                <a href='/celebrities/{{id}}'>{{name}}</a>
            </div>
            <form action="/celebrities/{{id}}/delete" method="POST">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </li>
    </ul>
{{/each}}